:root {
  --pink: #f263b2;
}

.cart {
  position: relative;
}

#cart_menu_num {
  position: absolute;
  left: 60%;
  bottom: 50%;
  background: linear-gradient(180deg, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}