/* import the necessary Bootstrap files */

.heading-footer 
{
    background-image: url(bg.jpg); 
    background-size: cover; 
    height: 175px; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
    border: 0px; 
    border-radius: 0px; 
}
 
.panel-profile-img 
{
    max-width: 250px; 
    margin-top: -160px; 
    margin-bottom: 5px; 
    border: 3px solid #fff; 
    border-radius: 0%; 
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
     box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.container {
  background-color: #ffffff;
}

.jumbotron {
  background-color: #ffffff;
}

.floatybox {
     display: inline-block;
     width: 123px;
}

body {
  background-color: #131313;
}